.Banner {
  position: relative;
  height: 86dvh;
  // height: calc(100vh - 120px); // think about header height
}

.BannerBackLink {
  display: grid;
  place-items: center;
  padding: 0.8rem;
  z-index: 2;
  color: #fff;
  font-size: 0.7rem;
  opacity: 0.4;

  &:hover {
    opacity: 1;
  }
}

.PageContent {
  max-width: 64rem;
  // padding-top: 1rem;
  padding-bottom: 3rem;
  padding-inline: 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  article {
    margin-top: -100px; // Probably better, check safari
    position: relative;
    z-index: 2;
    // top: -100px;
  }
}

.ModelContainer {
  position: relative;
  width: 700px;
  height: 500px;
}

.ArticleBackStrip {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 200px;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(11 11 11) 0%, rgb(11 11 11 / 0%) 100%);
}

.PaginationSection {
  max-width: 64rem;
  padding-bottom: 2rem;
  padding-inline: 1rem;
  margin: 0 auto;
}

.PaginationTitle {
  text-align: center;
  padding-bottom: 1rem;
}

.PaginationNav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 0 auto;
  color: #fff;

  img {
    display: block;
    object-fit: cover;
    width: 400px;
    aspect-ratio: 4/3;
    height: auto;
    filter: grayscale(1);

    &:hover {
      filter: grayscale(0);
    }
  }
}

.SoftwareUsedBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.SoftwareUsedList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 0.8rem;
}

.SoftwareUsedItem {
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 4px 12px;
  // border: 1px solid #fff;
  border-radius: 4px;
  background-color: #393939;
  cursor: pointer;

  span {
    font-size: 0.8rem;
  }
}
