.ToPageTopBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: #fff;
  border-radius: 6px;
  border: none;
  z-index: 10;
  cursor: pointer;

  svg {
    width: 20px;
    height: 20px;
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .ToPageTopBtn {
    width: 48px;
    height: 48px;
    opacity: 0.3;
    transition: 0.3s;
    bottom: 2rem;

    &:hover {
      opacity: 1;
    }
  }
}
