/* FP Main Page animations */
@keyframes moveFromBottomOut {
  25% {
    transform: scale(0.8);
  }
  50%,
  100% {
    transform: translateY(-100%) scale(0.8);
  }
}

@keyframes moveFromTopOut {
  25% {
    transform: scale(0.8);
  }
  50%,
  100% {
    transform: translateY(100%) scale(0.8);
  }
}

@keyframes moveFromBottom {
  0%,
  25% {
    transform: scale(0.8) translateY(125%);
  }
  50% {
    transform: scale(0.8) translateY(0);
  }
  75%,
  100% {
    transform: scale(1);
  }
}

@keyframes moveFromTop {
  0%,
  25% {
    transform: scale(0.8) translateY(-125%);
  }
  50% {
    transform: scale(0.8) translateY(0);
  }
  75%,
  100% {
    transform: scale(1);
  }
}
