.Section {
  position: relative;

  &Footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 3rem 2rem;
    background-color: #909090;
  }
}

.Content {
  overflow: hidden;
  opacity: 0.4;
  transition: 1s opacity;

  &.inited {
    opacity: 1;
  }
}

.Nav {
  &List {
    position: fixed;
    right: 80px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    z-index: 3;
  }

  &Link {
    display: block;
    padding: 12px;

    &:hover {
      .NavDot {
        transform: scale(1.5);
        opacity: 1;
      }
    }
  }

  &LinkActive {
    .NavDot {
      background-color: #ffffff;
      border-color: #ffffff;
      transform: scale(1.5);
      opacity: 1;
    }
  }

  &Dot {
    display: block;
    width: 8px;
    aspect-ratio: 1;
    border: 1px solid #ffffff;
    opacity: 0.7;
    border-radius: 50%;
    background-color: transparent;
    transition: 0.2s;
    mix-blend-mode: difference;
  }
}
