.Section {
  position: relative;

  &Inner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &Footer {
    height: auto;
  }
}

.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #909090;
  padding-block: 3rem;
}

.Content {
  overflow: hidden;
  opacity: 0.8;
  transition: 1s opacity;

  &.inited {
    opacity: 1;
  }
}
