.Section {
  position: relative;

  &Footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 3rem 2rem;
    background-color: #909090;
  }
}

.Content {
  overflow: hidden;
  opacity: 0.4;
  transition: 1s opacity;

  &.inited {
    opacity: 1;
  }
}
