.Grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.GridFilters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #fff;
  padding-top: 3rem;
  padding-bottom: 1rem;
  padding-inline: 1rem;
}

.GridNavLink {
  padding: 2rem;
  font-size: 1.1rem;
  letter-spacing: 1px;

  &Active {
    background-color: rgb(132, 0, 0);
  }
}

.GridItem {
  position: relative;
  overflow: hidden;
  aspect-ratio: 4 / 3;
  display: flex;
}

.GridItemInner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  z-index: 2;
  padding: 1rem;
  transition: background-color 0.3s;
}

.GridItemTitle {
  color: #f2f2f2;
  font-size: 1.6rem;
  text-align: center;
  transition: 0.3s;
}

.ProjectImg {
  object-fit: cover;
  transition: transform 0.3s;
}

.Loader {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;

  svg {
    font-size: 48px;
    animation-name: spin;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    display: block;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 1000px) {
  .GridItem {
    &:hover {
      .GridItemInner {
        background-color: #12121297;
      }
      .GridItemTitle {
        opacity: 1;
        transform: translateY(0);
      }
      .ProjectImg {
        transform: scale(1.1);
      }
    }
  }

  .GridItemTitle {
    opacity: 0;
    transform: translateY(-100%);
  }

  .GridNavLink {
    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
}

@media screen and (max-width: 1000px) {
  .GridNavLink {
    padding: 1.6rem;
  }

  .Grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .GridItemTitle {
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
  }

  .GridItemInner {
    align-self: flex-end;
    position: static;
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .Grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .GridItemTitle {
    font-size: 1.2rem;
  }
}
