.Main {
  position: relative;
  height: calc(100dvh - 120px);
}

.Section {
  max-width: 64rem;
  position: absolute;
  inset: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 2;
}

.List {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1rem;
  color: #fff;

  li {
    display: flex;
    align-items: center;
  }

  a {
    display: inline-block;
    padding: 1rem;
    font-size: 1.1rem;
  }
}
