/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import '@/assets/styles/index.css';

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  min-height: 100dvh;
  background-color: #1d1d1d;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
}

/* .scale-down-from {
  animation-name: scaleDownFrom;
  animation-duration: 1.5s;
} */

/* .scale-down-to {
  animation-name: scaleDownTo;
  animation-duration: 0.6s;
} */

@keyframes scaleDownFrom {
  0% {
    scale: 1;
  }
  100% {
    scale: var(--fp-home-scale);
  }
}

@keyframes scaleDownTo {
  0% {
    scale: var(--fp-home-scale);
  }
  100% {
    scale: 1;
  }
}

.fp-root.move {
  .fp-section.fp-completely.active {
    animation-name: scaleDownFrom;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
  }

  .fp-section.fp-completely:not(.active) {
    scale: var(--fp-home-scale);
  }

  .fp-section.active:not(.fp-completely) {
    scale: var(--fp-home-scale);
    animation-name: scaleDownTo;
    animation-duration: 0.2s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
  }
}
