.Header {
  display: flex;
  background-color: #0d1b107b;
}

.Menu {
  width: 100%;

  &List {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-block: 1rem;
    color: #fff;
  }
}
