.Container {
  height: 600px;
  margin-block: 2rem;
}

@media screen and (max-width: 1000px) {
  .Container {
    height: 72vh;
  }
}

@media screen and (max-width: 600px) {
  .Container {
    height: 98vw;
  }
}

.MobilePreviewBtn {
  display: block;
  padding: 1rem 2rem;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  font-size: 1.1rem;
  border-radius: 8px;
  font-weight: 600;
  margin: 0 auto;
}
