:root {
  --background: #ffffff;
  --foreground: #0b0b0b;

  --fp-anim-dur: 1.6s;
  --fp-s-scale: 0.9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
